.background-image {
  background-image: url("./images/Header.png");
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
}

@media (max-width: 580px) {
  .background-image {
    background-image: url("./images/HeaderS.png");
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
  }
  div:before {
  content: "";
  position:absolute;
  top:-22px;
  left:0;
  height:16px;
  width: 100%;
  border-radius: 16px 16px 0px 0px;
  background:#ffffff;
}
}
